@tailwind base;
.portada{
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-modal{
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }
@tailwind components;
@tailwind utilities;

@layer components{
  * {
    @apply p-0 m-0 box-border 
  }
  body{
    @apply bg-[#040714] text-white overflow-x-hidden w-full
  }
}